import type { CapacitorConfig } from '@capacitor/cli';

const config: CapacitorConfig = {
  appId: 'app.lovable.877ecc66787b40beb8ad72e416993c49',
  appName: 'trail-connect-netzwerk',
  webDir: 'dist',
  server: {
    url:'https://877ecc66-787b-40be-b8ad-72e416993c49.lovableproject.com?forceHideBadge=true',
    cleartext: true
  },
  plugins: {
    SplashScreen: {
      launchShowDuration: 3000,
      backgroundColor: '#D97706', // MTB Orange
      showSpinner: false
    }
  }
};

export default config;